# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.yaml

# Vite
/dist
/.vite

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build output
/build
/dist-ssr

# Editor and OS files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs
logs
*.log
npm-debug.log*

# Dependency caches
.pnpm-store/
.eslintcache
.stylelintcache